body {
    font-family: 'Montserrat';
    background: linear-gradient(to bottom, #a8e6cf, #dcedc1); /* Degradado verdoso */
    margin: 0;
    padding: 20px;
}
h1{
    color: #09583b;
    text-align: center;
    text-shadow: 1px 1px 1px #09583b;
}
.pedido-container {
    max-width: 800px; /* Ancho máximo del cuadro */
    margin: 20px auto; /* Centrar el cuadro */
    padding: 10px; /* Espaciado interno */
    background-color: #e0f7fa; /* Color de fondo opcional */
    border-radius: 8px; /* Bordes redondeados opcional */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}
.Tabla{
    background: #83dfbd;
}

.btn-volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white; 
    text-decoration: none; 
    border-radius: 5px;
    transition: background-color 0.3s; 
    margin-left: 595px; 
    position: fixed;
}

.btn-volver:hover {
    background-color: #45a049;
    text-shadow: 1px 1px 1px #09583b;
}